* {
  box-sizing: border-box;
}

body {
  background-color: #eff7f2;
  margin: 0;
  padding: 0;
}

html,
body,
#root,
.container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.loader {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.movies__title {
  background: #fff;
  box-shadow: 0 13px 27px -5px rgb(50 50 93 / 25%), 0 8px 16px -8px rgb(0 0 0 / 30%), 0 -6px 16px -6px rgb(0 0 0 / 3%);
  color: #2c2c2c;
  font-size: 36px;
  margin-bottom: 90px;
  padding: 20px;
  width: 100%;
}